<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Amazona</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">amazona</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
     <h3>Category</h3>
     <button class="sidebar-close-button" onclick="closeMenu()">x</button>
     <ul>
      <li>
        <a href="">item1</a>
      </li>
      <li>
        <a href="">item2</a>
      </li>
      <li>
        <a href="">item3</a>
      </li>
     </ul>
    </aside>
    <main class="main">
        <div class="content">

             <ul class="products">
              
                <li>
                    <div class="product">
                    <img  class="product-img" src="imgs/d1.jpg" alt="prouct1">
                    <a href="product.html">
                      <div class="product-name"> T-SHIRT
                      </div>
                    </a>
                   
                       
                    <div class="product-brand">
                        Nike
                    </div>
                    <div class="product-price">
                        $60
                    </div>
                    <div class="product-rating">
                      4.5stars(10 reviws)
                    </div>
                    </div>  
                  
                </li>
                <li>
                  <div class="product">
                  <img  class="product-img" src="imgs/d1.jpg" alt="prouct1">
                  <a href="product.html">
                    <div class="product-name"> T-SHIRT
                    </div>
                  </a>
                 
                     
                  <div class="product-brand">
                      Nike
                  </div>
                  <div class="product-price">
                      $60
                  </div>
                  <div class="product-rating">
                    4.5stars(10 reviws)
                  </div>
                  </div>  
                
              </li>
              <li>
                <div class="product">
                <img  class="product-img" src="imgs/d1.jpg" alt="prouct1">
                <a href="product.html">
                  <div class="product-name"> T-SHIRT
                  </div>
                </a>
               
                   
                <div class="product-brand">
                    Nike
                </div>
                <div class="product-price">
                    $60
                </div>
                <div class="product-rating">
                  4.5stars(10 reviws)
                </div>
                </div>  
              
            </li>
            <li>
              <div class="product">
              <img  class="product-img" src="imgs/d1.jpg" alt="prouct1">
              <a href="product.html">
                <div class="product-name"> T-SHIRT
                </div>
              </a>
             
                 
              <div class="product-brand">
                  Nike
              </div>
              <div class="product-price">
                  $60
              </div>
              <div class="product-rating">
                4.5stars(10 reviws)
              </div>
              </div>  
            
          </li>
             </ul>   
        </div>
      

    </main>
    <footer class="footer">
      All right reserved.
    </footer>
  </div>
  <script>
    function openMenu(){
      document.querySelector(".sidebar").classList.add("open")
    }
    function closeMenu(){
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>